
:root{
    --dashboard-secondary : #5E63BC;
    --intake-label : 12px;
    --label-color : #9A9A9A;
    --modal-fontSize: 16px;
    --themebuttoncolor: #5E63BC;
    --gradientClorPrimary : linear-gradient(270deg, #ede5d6 0%, #ccd8d6 98.29%); 
    --primary: #222222;
    --blueHaze: #B9BFD4;
    --header-height: 75px;
    --sidebar-width: 273px;
    --nav-links : rgba(34, 34, 34, .5);
    --primary-heading: #45314F;
    --duenow-width: 100%;
    --duenow-height: 98px;
    --duealergieSubsciption-height: 182px;
    --image-container-width: 222px;
    --image-container-height: 224px;
    --input-widths: 100%;
    --dueSectionWidth: 240px;
    --modal-height: 50px;
    --Jacarta-color: #45314F;
    --modal-secondary: #F8F9FE;
    --strol-color: rgba(0, 0, 0, 0.25);
    --chat-header-height: 60px;
    --chat-msg-height: 85px;
    --findproviderheight: 400px;
    --border-color: #CDCDCD;
    --med-hos-placeholder: #6A5C78;
    --account-logo-size: 40px;
    --header-main-height:70px;
    --due-Raduis : 25px;
    --input-Color : #f7f7f7;
}